venv/
config.py
data/.~lock.raw_opendoar_data.csv#
.ipynb_checkpoints/*
__pycache__/config.cpython-310.pyc
.ipynb_checkpoints/all_data-checkpoint.csv
.vscode/settings.json
data/.ipynb_checkpoints/*
vals.csv
.~lock.all_data_manual_software.csv#
rsra/__pycache__/__init__.cpython-38.pyc
rsra/__pycache__/base_header.cpython-38.pyc
rsra/__pycache__/extract_strings_from_url.cpython-38.pyc
rsra/__pycache__/query_data.cpython-38.pyc
.~lock.all_data_manual_software.ods#
.~lock.all_data.csv#
